/* GENERAL LAYOUT */
body {
    font-weight: 500;
    margin:0;
}

body > .container {
    padding: 67px 15px 0;
}

section.resume-section {
    padding-top: 2.4em;
  }

h3, h4, h5, h6 {
    font-weight: 400;
}

/* COLORS*/
.bg-custom {
    background-color: #002244;
}

.text-faded {
    color:#8b9aa9;
}

.text-green {
    color:#04aa6d;
}



/* BUTTONS */
.res-button {
    margin-top: 0.25rem;
    background-color: #002244;
    color:#eeeeee;
}

.res-button:hover {
    background-color: #0d6efd;
    color:#eeeeee;
    text-decoration:none;
}

.res-button-disabled {
    margin-top: 0.25rem;
    background-color: #dddddd;
    color:#eeeeee;
    pointer-events: none;
}

/* LINKS */
a:link {
text-decoration: none;
}

a:visited {
text-decoration: none;
}

a:hover {
text-decoration: underline;
}

a:active {
text-decoration: underline;
}

.nav-item > a:hover {
    color: #eeeeee!important;
    text-decoration:none;
}

/* FOOTER */
.footer-custom {
    width: 100%;
    background-color: #002244;
    color:#eeeeee;
    bottom:0;
}

.foot-button {
    margin-top: -0.5rem;
    background-color: #002244;
    color:#eeeeee;
}

.foot-button:hover {
    background-color: #0d6efd;
    color:#eeeeee;
}

.foot-link {
    color:#8b9aa9;
}

.foot-link:hover {
    color: #eeeeee!important;
    text-decoration:none;
}